@import "variables";

/* ***********************
	WRAPPER STYLING
*********************** */

.outdated_browser {

  .outdated-warning {
	z-index:100;
	background-color: $white;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: row;
	align-items: center;
	background: linear-gradient(to left, #FCE38A, #F38181);

	.card {
	  padding: 1rem;
	  background-color: $white;
	  max-width: 480px;
	  margin: 0 auto;
	  border: none;
	  box-shadow: 0px 2px 25px 3px rgba(black, .1);
	  opacity: 0;
	  transform: translateY(50px);
	  transition: all .5s cubic-bezier(.28,.16,.24,.98) 1s;

	  .card-img-top {
		margin-right: -15px;
		margin-left: -15px;
		min-width: calc(100% + 30px);
	  }

	  &.visible {
		opacity: 1;
		transform: translateY(0px);
	  }
	}
  }
}